* {
    font-family: var(--font-family);
}

/* link */

a{
    text-decoration: none;
}

.no-horizontal-scroll {
    overflow-x: hidden;
}

.titleText {
    font-family: var(--font-family-semi-bold);
    font-size: 36px;
    line-height: 47px;
}

.descText {
    font-size: 16px;
    line-height: 24px;
}

.hidden {
    display: none!important;
}

/* For screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 768px) {
    .titleText {
        line-height: 34px;
        font-size: 26px;
    }
}
